USE [master]
GO
/****** Object:  Database [UptownStudioDB]    Script Date: 2024/09/08 12:08:49 ******/
CREATE DATABASE [UptownStudioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UptownStudioDB', FILENAME = N'C:\CMPG223-Group16\Database\UptownStudioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UptownStudioDB_log', FILENAME = N'C:\CMPG223-Group16\Database\UptownStudioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UptownStudioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UptownStudioDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2024/09/08 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Cus_First_Name] [varchar](30) NULL,
	[Cus_Last_Name] [varchar](30) NULL,
	[Cus_Email] [varchar](30) NULL,
	[Cus_Phone_No] [varchar](10) NULL,
	[Cus_Street_Address] [varchar](30) NULL,
	[Cus_Suburb] [varchar](30) NULL,
	[Cus_Town] [varchar](30) NULL,
	[Cus_Province] [varchar](20) NULL,
	[Cus_Postal_Code] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2024/09/08 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_First_Name] [varchar](30) NULL,
	[Emp_Last_Name] [varchar](30) NULL,
	[Emp_Role] [varchar](30) NULL,
	[Emp_Email] [varchar](30) NULL,
	[Emp_Phone_No] [varchar](10) NULL,
	[Emp_UserName] [varchar](20) NULL,
	[Emp_Password] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2024/09/08 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[Inventory_Name] [varchar](30) NULL,
	[Inventory_Description] [varchar](80) NULL,
	[Inventory_Unit_Cost_Price] [money] NULL,
	[Quantity_in_Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2024/09/08 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(100,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[CustomerID] [int] NULL,
	[Order_Total] [money] NULL,
	[Order_Status] [varchar](20) NULL,
	[Order_CreationDate] [date] NULL,
	[Order_CollectionDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordered_Inventory]    Script Date: 2024/09/08 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordered_Inventory](
	[OrderID] [int] NOT NULL,
	[InventoryID] [int] NOT NULL,
	[Unit_Selling_Price] [money] NULL,
	[Quantity_Sold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Ordered_Inventory]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[Ordered_Inventory]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
USE [master]
GO
